<app-header></app-header>

<div class="row g-5 m-3">
    <div class="col-md-8">

        <article class="blog-post">
        
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-palette">Consultórios</h6>
                </div>
                <div class="table-rolagem">
                    <table class="table table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                        aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 57px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending" style="width: 61px;">Nome
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 49px;">
                                    Consultas Mensais
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 31px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Start date: activate to sort column ascending" style="width: 68px;">
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let clinica of clinicas">
                                <td class="sorting_1 " style="text-align: center; vertical-align: middle;"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M433.33-266H526v-107.33h109.33v-93.34H526V-574h-92.67v107.33H324.67v93.34h108.66V-266ZM266.67-120q-27.5 0-47.09-19.58Q200-159.17 200-186.67v-466q0-27.5 19.58-47.08 19.59-19.58 47.09-19.58h426.66q27.5 0 47.09 19.58Q760-680.17 760-652.67v466q0 27.5-19.58 47.09Q720.83-120 693.33-120H266.67Zm0-66.67h426.66v-466H266.67v466ZM240-773.33V-840h480.67v66.67H240Zm26.67 120.66v466-466Z"/></svg></td>
                                <td>{{clinica.nome}}</td>
                                <td>0</td>
                                <td>
                                    <a [routerLink]="['/cadastrovagas', clinica.id]">
                                    <button type="button" class="btn" style="background-color: #3f9f9f; color: #ffffff;">Cadastrar Consulta</button>
                                    </a>
                                </td>
                                <td>
                                    <a [routerLink]="['/edita', clinica.id]">
                                        <button type="button" class="btn" style="background-color: #3f9f9f; color: #ffffff;">Editar Consultas</button>
                                    </a>
                                </td>
                            </tr>                 
                        </tbody>
                    </table>
                </div>
            </div>           
        </article>
    </div>

    <div class="col-md-4">
        
        <!-- parte da lateral direita -->
        <div class="card shadow mb-4 table-rolagem">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-palette">Notificações</h6>
            </div>
            <div class="table-rolagem">
                <table class="table table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <tbody>
                        <tr class="odd ">
                            <td class="sorting_1">Nenhuma notificação!</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>