<div class="row g-5 m-3">

    <article class="blog-post">

        <div class="card shadow mb-4">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Dra. Bruna Passarini</h2>
                    <h6><span class="text-palette">Ortopedia e
                            Traumatologia</span></h6>
                    <p class="lead">Dra. Bruna Passarini
                        Ortopedia e Traumatologia | Cirurgia do Joelho e Trauma Esportivo
                        CRM-MS 14307| RQE 8633| TEOT 17799
                        
                        Formação:
                        • Graduação médica na Universidade Nove de Julho 
                        • Residência em Ortopedia e Traumatologia- Hospital IFOR (Rede D`Or)
                        • Especialização em Traumatologia Esportiva pela Faculdade de Medicina do ABC – FMABC
                        • Residência em Cirurgia do Joelho pelo Hospital IFOR e Escola Paulista de Medicina – EPM
                        • Membro do Comite de Doenças Osteometabólicas da SBOT ( ABOOM)
                        • Treinamento em traumatologia - AO trauma Latin America.
                        
                        Patologias do Joelho:
                        • Rompimento de Ligamentos (LCA e LCP)
                        • Luxação Patelar
                        • Artróse
                        • Tendinite Patelar
                        • Síndrome do Corredor
                        • Lesão no Menisco
                        • Infiltração de Joelho
                        
                        Procedimento:
                        • Artroscopia
                        • Cirurgia de Menisco
                        • Reconstrução de Ligamentos
                        •Artroplastia
                        •Osteotomia
                        • Cirurgia da Patela
                        
                        Traumas Esportivo:
                        • Avaliação e Orientação de Lesões relacionadas com a prática de Atividades física agudas ou crônicas, e prevenção destas lesões.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img
                        src="https://www.medguias.com.br/storage/images/announcements/KSaRT7AlwraNbg1uum6ZAksx5zvWRH97c1IhfvdF.png"
                        alt="bru" width="500 px" height="500 px" srcset
                        class="card">
                </div>
            </div>

        </div>

    </article>

</div>