<app-header></app-header>

<div class="container shadow p-3 mb-3 bg-white rounded">
    <div class="row">
        <h4 style="color:#3f9f9f">Olá {{ nomePaciente }}! Revise ou agende sua consulta</h4>
        <div class="col-12">
            <div class="card mt-4">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
