<app-header></app-header>

<div class="row g-5 m-3">
    <div class="col-md-8">
        <section class="intro">
            <div class="bg-image-vertical h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                      <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
          
                          <h4 class="mb-5 text-center text-palette">Informações Sobre a Doutora</h4>
          
                          <form>
                        
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                              <input #InputForma type="text" id="form6Example3" class="form-control" [disabled]="true" />
                              <label class="form-label" for="form6Example3">Formações</label>
                            </div>
          
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input #InputEmail type="email" id="form6Example5" class="form-control" [disabled]="true" />
                              <label class="form-label" for="form6Example5">Email</label>
                            </div>
          
                            <!-- Telefone input -->
                            <div class="form-outline mb-4">
                              <input #InputTelefone type="number" id="form6Example6" class="form-control"  [disabled]="true"/>
                              <label class="form-label" for="form6Example6">Telefone</label>
                            </div>
          
                            <!-- Descrição input -->
                            <div class="form-outline mb-4">
                              <textarea #InputDesc class="form-control" [disabled]="true" id="form6Example7" rows="5"></textarea >
                              <label class="form-label" for="form6Example7">Descrição Principal</label>
                            </div>
                                    
                          </form>
                            <!-- Submit button -->
                            <div class="d-flex justify-content-between">
                                <button (click)="ativarInput()" class="btn btn-outline-primary btn-rounded btn-block">Editar</button>
                                <button #Botao type="submit" class="btn btn-outline-success btn-rounded btn-block" [disabled]="true">Salvar</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <br/>
        <!--Clinicas-->
        <section class="intro">
            <div class="bg-image-vertical h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                      <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
          
                            <h4 class="mb-5 text-center text-palette">Adicionar Clinica</h4>
          
                          <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                              <div class="col-12 col-md-6 mb-4">
                                <div class="form-outline">
                                  <input  placeholder="Cidade" type="text" id="form6Example1" class="form-control" />
                                  <label class="form-label" for="form6Example1">Cidade</label>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 mb-4">
                                <div class="form-outline">
                                  <input placeholder="SP/MS" type="text" id="form6Example2" class="form-control" />
                                  <label class="form-label" for="form6Example2">Estado</label>
                                </div>
                              </div>
                            </div>
          
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                              <input type="text" id="form6Example3" class="form-control" />
                              <label class="form-label" for="form6Example3">Nome da clínica</label>
                            </div>
          
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                              <input type="text" id="form6Example4" class="form-control" />
                              <label class="form-label" for="form6Example4">Endereço</label>
                            </div>
          
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email" id="form6Example5" class="form-control" />
                              <label class="form-label" for="form6Example5">Email</label>
                            </div>
          
                            <!-- Number input -->
                            <div class="form-outline mb-4">
                              <input type="number" id="form6Example6" class="form-control" />
                              <label class="form-label" for="form6Example6">Telefone</label>
                            </div>
          
                            <!-- Message input -->
                            <div class="form-outline mb-4">
                              <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                              <label class="form-label" for="form6Example7">Informações Adicionais</label>
                            </div>
          
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-success btn-rounded btn-block">Enviar</button>
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
    </div>

    <div class="col-md-4">
        
        <!-- parte da lateral direita -->
        <div class="card shadow mb-4 table-rolagem">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-palette">Notificações</h6>
            </div>
            <div class="table-rolagem">
                <table class="table table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <tbody>
                        <tr class="odd ">
                            <td class="sorting_1">Nenhuma notificação!</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
