<app-header></app-header>

<div class="container-fluid vh-100 position-relative" style="margin-bottom: 500px;" >
  <!-- Fundo com ondulação -->
  <div class="wave-bg w-100">
    <svg viewBox="0 0 1440 320" class="w-100">
      <path fill="#A8E6E6" fill-opacity="1" d="M0,224L30,224C60,224,120,224,180,218.7C240,213,300,203,360,197.3C420,192,480,192,540,186.7C600,181,660,171,720,165.3C780,160,840,160,900,170.7C960,181,1020,203,1080,202.7C1140,203,1200,181,1260,186.7C1320,192,1380,224,1410,240L1440,256L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path>
    </svg>
  </div>

  <!-- Card de cadastro -->
  <div class="d-flex justify-content-center align-items-center vh-100" >
    <div class="card shadow-lg custom-shadow" style="width: 24rem; background-color: #00A6A6; border-radius: 1rem; z-index: 1;">
      <div class="card-body text-center">
        <h2 class="card-title mb-2" style="color: #002859;">Cadastro</h2>
        <p class="card-text" style="color: #005B5B;">Paciente</p>
        <a href="login" class="d-block mb-3" style="color: #002859; font-weight: bold;">Já possuo cadastro</a>

        <form (ngSubmit)="onRegister()">
          <div class="mb-3">
            <label for="nome" class="form-label text-start w-100" style="color: #005B5B;">Nome*</label>
            <input type="text" id="nome" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.nome" name="nome" placeholder="Nome" required>
            <div *ngIf="!user.nome && formSubmitted" class="text-danger text-start w-100">Nome é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="sobrenome" class="form-label text-start w-100" style="color: #005B5B;">Sobrenome*</label>
            <input type="text" id="sobrenome" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.sobrenome" name="sobrenome" placeholder="Sobrenome" required>
            <div *ngIf="!user.sobrenome && formSubmitted" class="text-danger text-start w-100">Sobrenome é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="dataNasc" class="form-label text-start w-100" style="color: #005B5B;">Data de Nascimento*</label>
            <input type="date" id="dataNasc" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.dataNasc" name="dataNasc" required>
            <div *ngIf="!user.dataNasc && formSubmitted" class="text-danger text-start w-100">Data de nascimento é obrigatória.</div>
          </div>          
          <div class="mb-3">
            <label for="cpf" class="form-label text-start w-100" style="color: #005B5B;">CPF*</label>
            <input type="text" id="cpf" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.cpf" name="cpf" placeholder="000.000.000-00" required>
            <div *ngIf="!user.cpf && formSubmitted" class="text-danger text-start w-100">CPF é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="sexo" class="form-label text-start w-100" style="color: #005B5B;">Sexo</label>
            <input type="text" id="sexo" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.sexo" name="sexo" placeholder="Feminino" required>
            <div *ngIf="!user.sexo && formSubmitted" class="text-danger text-start w-100">Sexo é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="genero" class="form-label text-start w-100" style="color: #005B5B;">Gênero</label>
            <input type="text" id="genero" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.genero" name="genero" placeholder="Masculino" required>
            <div *ngIf="!user.genero && formSubmitted" class="text-danger text-start w-100">Gênero é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="orientacao_sexual" class="form-label text-start w-100" style="color: #005B5B;">Orientação Sexual</label>
            <input type="text" id="orientacao_sexual" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.orientacao_sexual" name="orientacao_sexual" placeholder="Bissexual" required>
            <div *ngIf="!user.orientacao_sexual && formSubmitted" class="text-danger text-start w-100">Orientação Sexual é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="raca_cor" class="form-label text-start w-100" style="color: #005B5B;">Cor/Raça</label>
            <select id="raca_cor" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.raca_cor" name="raca_cor" required>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="Branca">Branca</option>
              <option value="Negra">Negra</option>
              <option value="Parda">Parda</option>
              <option value="Indígena">Indígena</option>
              <option value="Amarela">Amarela</option>
              <option value="Outra">Outra</option>
              <option value="Prefiro não informar">Prefiro não informar</option>
            </select>
            <div *ngIf="!user.raca_cor && formSubmitted" class="text-danger text-start w-100">Cor/Raça é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="nome_mae" class="form-label text-start w-100" style="color: #005B5B;">Nome da mãe</label>
            <input type="text" id="nome_mae" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.nome_mae" name="nome_mae" placeholder="Maria Gonçalves" required>
          </div>
          <div class="mb-3">
            <label for="nome_pai" class="form-label text-start w-100" style="color: #005B5B;">Nome do pai</label>
            <input type="text" id="nome_pai" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.nome_pai" name="nome_pai" placeholder="João Silva" required>
          </div>
          <div class="mb-3">
            <label for="cidade" class="form-label text-start w-100" style="color: #005B5B;">Cidade</label>
            <input type="text" id="cidade" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.cidade" name="cidade" placeholder="Cidade">
            <div *ngIf="!user.cidade && formSubmitted" class="text-danger text-start w-100">Cidade é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="bairro" class="form-label text-start w-100" style="color: #005B5B;">Bairro</label>
            <input type="text" id="bairro" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.bairro" name="bairro" placeholder="Bairro">
            <div *ngIf="!user.bairro && formSubmitted" class="text-danger text-start w-100">Bairro é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="estado" class="form-label text-start w-100" style="color: #005B5B;">Estado</label>
            <select id="estado" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.estado" name="estado" required>
              <option value="" disabled selected>Escolha um estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
            <div *ngIf="!user.estado && formSubmitted" class="text-danger text-start w-100">Estado é obrigatório.</div>
          </div>          
          <div class="mb-3">
            <label for="logadouro" class="form-label text-start w-100" style="color: #005B5B;">Logadouro</label>
            <input type="text" id="logadouro" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.logadouro" name="logadouro" placeholder="Logadouro">
            <div *ngIf="!user.logadouro && formSubmitted" class="text-danger text-start w-100">Logadouro é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="numero" class="form-label text-start w-100" style="color: #005B5B;">Numero</label>
            <input type="number" id="numero" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.numero" name="numero" placeholder="333" required>
            <div *ngIf="!user.numero && formSubmitted" class="text-danger text-start w-100">Numero é obrigatório.</div>
          </div>          
          <div class="mb-3">
            <label for="telefone" class="form-label text-start w-100" style="color: #005B5B;">Telefone*</label>
            <input type="text" id="telefone" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.telefone" name="telefone" placeholder="(00) 00000-0000" required>
            <div *ngIf="!user.telefone && formSubmitted" class="text-danger text-start w-100">Telefone é obrigatório.</div>
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label text-start w-100" style="color: #005B5B;">Senha*</label>
            <input type="password" id="senha" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.senha" name="senha" placeholder="************" required>
            <div *ngIf="!user.senha && formSubmitted" class="text-danger text-start w-100">Senha é obrigatória.</div>
          </div>
          <div class="mb-3">
            <label for="confirmaSenha" class="form-label text-start w-100" style="color: #005B5B;">Confirme a senha*</label>
            <input type="password" id="confirmaSenha" class="form-control" style="background-color: #9ce2e2;" [(ngModel)]="user.confirmaSenha" name="confirmaSenha" placeholder="************" required>
          </div>

          <div class="mb-3">
            <label for="foto" class="form-label text-start w-100" style="color: #005B5B;">
              Insira uma imagem para se identificar!
            </label>
            <!-- Esconde o input original -->
            <input (change)="onFileChange($event)"
              class="form-control d-none"
              id="foto"
              type="file"
              accept=".jpg, .jpeg, .png">

            <!-- Botão estilizado -->
            <label for="foto" class="btn btn-sm" style="background-color: #9ce2e2;">
              Escolher imagem
            </label>

          </div>

          <button type="submit" class="btn btn-primary w-100" style="background-color: #002859; border: none;">Cadastrar</button>
        </form>
        <div class="mt-4">
          <img src="https://i.ibb.co/yfqQRJ9/logov2.png" alt="Logo" style="width: 240px; background-color: #9ce2e2; border-radius: 1rem">
        </div>
      </div>
    </div>
  </div>
</div>

