<header class="p-3 mb-3 border-bottom">
    <div >       
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="https://i.ibb.co/yfqQRJ9/logo.png" alt="" width="152" height="82">
        </a>
        
        <ul class="ps-5 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">         
          <li><a href="/home" class="nav-link px-2 text-palette">Home</a></li>
          <li><a href="/pacientes" class="nav-link px-2 text-palette">Pacientes</a></li>
          <li><a href="/vagas" class="nav-link px-2 text-palette">Consultas</a></li>
        </ul>
  
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://i.ibb.co/X59WhhZ/bruna.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item text-palette" href="/perfil">Perfil</a></li>
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item text-palette" href="/login">Sair</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>