<header class="p-3 mb-3 border-bottom">
    <div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img src="https://i.ibb.co/yfqQRJ9/logo.png" alt="" width="152" height="82">
            </a>

        </div>
    </div>
</header>

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; border-color: #3f9f9f;">
            <div class="card-body p-4 text-center" style="border-color: #3f9f9f;">
  
              <h4 class="mb-5">Bem-vindo Administrador</h4>
  
              <div data-mdb-input-init class="form-outline mb-1">
                <input type="email" id="typeEmailX-2" placeholder="Usuario" class="form-control form-control-lg" />
              </div>
  
              <div data-mdb-input-init class="form-outline mb-1">
                <input type="password" id="typePasswordX-2" placeholder="Senha" class="form-control form-control-lg" />
              </div>
  
              <a href="/">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-lg btn-block" type="submit" >Entrar</button>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>