<header class="p-3 mb-3 border-bottom">
  <div >
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="https://i.ibb.co/yfqQRJ9/logo.png" alt="" width="152" height="82">
      </a>

      <ul class="ps-5 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-2 text-palette">Home</a></li>
        <li><a href="/agendar" class="nav-link px-2 text-palette">Agendar Consulta</a></li>
      </ul>

      <div class="dropdown text-end">
        <button type="button" class="btn btn-outline-primary button-palette"><a href="cadastro">CADASTRAR</a></button>
        <button type="button" class="btn btn-outline-primary button-palette" style="margin-left: 10px"><a href="login">ENTRAR</a></button>
      </div>
    </div>
  </div>
</header>
